[Desktop Entry]
Name=SX4Draw
Comment=SX4Draw - Graphische Generierung von LanbahnPanel XML Files zur Modellbahnsteurung
Keywords=java;SX4;Draw;Paint;XML;lanbahn
Exec=~/sx4draw/start.sh
Terminal=false
Type=Application
Icon=~/.local/share/icons/sx4monitor_ico64_3.png
Categories=Game;
